@import '../config/color.scss';
@import '../config/mixins.scss';

.country-information-element {
  overflow-y: auto;
  display: none;
  position: fixed;
  top: 10vh;
  left: 0px;
  z-index: 2;
  padding: 4rem;
  background-color: $primary-color-dark-mode;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  &#display-true {
    display: block;
    width: 100%;
    height: 90vh;
  }
  button {
    @include displayFlex(row, center, center);
    cursor: pointer;
    margin-bottom: 4rem;
    padding: 0.8rem 1rem 0.8rem;
    font-size: 1.8rem;
    border-radius: 5px;
    border: none;
    color: $primary-font-color-dark-mode;
    background-color: $secondary-color-dark-mode;
    .icon-content {
      margin-right: 1rem;
    }
  }
  .country-information-content {
    @include displayFlex(row, start, start);
    .country-flag-content {
      img {
        border-radius: 5px;
        width: 500px;
      }
    }
    .informations-content {
      margin-left: 3rem;
      h1 {
        margin-bottom: 1rem;
      }
      .country-information-ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        column-gap: 5rem;
        row-gap: 0.5rem;
        .information-li {
          font-size: 1.6rem;
          font-weight: 700;
          span {
            color: $secondary-font-color-dark-mode;
          }
        }
      }
      .border-country-content {
        @include displayFlex(row, start, start);
        width: 100%;
        margin-top: 3rem;
        .border-country-ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
          width: 100%;
          gap: 0.5rem;
          .border-country-li {
            @include displayFlex(column, center, center);
            padding: 0.3rem 0.5rem 0.3rem;
            height: 40px;
            border-radius: 5px;
            background-color: $secondary-color-dark-mode;
          }
        }
      }
    }
  }
  &[light-mode="true"] {
    background-color: $primary-color-light-mode;
    button {
      color: $primary-font-color-light-mode;
      border: 1px solid $shadow-box-light-mode;
      box-shadow: 3px 3px 5px $shadow-box-light-mode;
      background-color: $secondary-color-light-mode;
    }
    .country-information-content {
      .country-flag-content {
        img {
          border: 2px solid $shadow-box-light-mode;
        }
      }
      .informations-content {
        .country-information-ul {
          .information-li {
            span {
              color: $secondary-font-color-light-mode;
            }
          }
        }
        .border-country-content {
          .border-country-ul {
            .border-country-li {
              border: 1px solid $shadow-box-light-mode;
              box-shadow: 3px 3px 5px $shadow-box-light-mode;
              background-color: $secondary-color-light-mode;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1020px) {
    .country-information-content {
      @include displayFlex(column, center, center);
      .country-flag-content {
        @include displayFlex(column, center, center);
        img {
          width: 100%;
        }
      }
      .informations-content {
        margin: 2rem 0rem 0rem;
        .country-information-ul {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  @media (max-width: 550px) {
    .country-information-content {
      .informations-content {
        .country-information-ul {
          grid-template-columns: 1fr
        }
        .border-country-content {
          @include displayFlex(column, start, start);
          .border-country-ul {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
