@import '../config/color.scss';
@import '../config/mixins.scss';
.contry-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3rem;
  max-width: 100%;
  color: $primary-font-color-dark-mode;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  &#one-content {
    grid-template-columns: 280px;
  }
  .contry-card {
    @include displayFlex(column, start, start);
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px $shadow-box-dark-mode;
    background-color: $primary-color-dark-mode;
    .contry-image-content-card {
      width: 100%;
      img {
        width: 100%;
        height: 200px;
      }
    }
    .contry-name-content-card {
      margin-bottom: 1rem;
    }
    .contry-information-content-card {
      padding: 2rem;
      li {
        h1 {
          font-size: 1.5rem;
          span {
            color: $secondary-font-color-dark-mode;
          }
        }
      }
    }
  }
  &[light-mode="true"] {
      color: $primary-font-color-light-mode;
    &#one-content {
      grid-template-columns: 280px;
    }
    .contry-card {
      border: 1px solid $shadow-box-light-mode;
      box-shadow: 4px 4px 5px $shadow-box-light-mode;
      background-color: $primary-color-light-mode;
      .contry-information-content-card {
        li {
          h1 {
            span {
              color: $secondary-font-color-light-mode;
            }
          }
        }
      }
    }
  }
}
