// dark-mode
$primary-font-color-dark-mode: rgb(255, 255, 255);
$secondary-font-color-dark-mode: rgb(133, 133, 133);
$primary-color-dark-mode: rgb(43, 57, 69);
$secondary-color-dark-mode: rgb(32, 44, 55);
$shadow-box-dark-mode: rgb(25 33 41);
