// dark-mode
$primary-font-color-dark-mode: rgb(255, 255, 255);
$secondary-font-color-dark-mode: rgb(133, 133, 133);
$primary-color-dark-mode: rgb(43, 57, 69);
$secondary-color-dark-mode: rgb(32, 44, 55);
$shadow-box-dark-mode: rgb(25 33 41);

// ligth-mode
$primary-font-color-light-mode: rgb(32, 44, 55);
$secondary-font-color-light-mode: rgb(43, 57, 69);
$primary-color-light-mode: white;
$secondary-color-light-mode: rgb(250, 250, 250);
$shadow-box-light-mode: rgb(0 0 0 / 10%);
